name: build lacells.db

on: 
  schedule:
    - cron: '0 * * * *' 
  workflow_dispatch:

permissions:
  write-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Update
        run: |
          sudo apt update
          sudo apt upgrade -y
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
        
      - name: Update token
        env:
          TOKEN_OCID: ${{ secrets.TOKEN_OCID }}
        run: |
          sed -i "s/XXXXXXXXXXXXXX/$TOKEN_OCID/g" config
          sed -i "s/XXXXXXXXXXXXXX/$TOKEN_OCID/g" flg
      - name: generate lacells
        run: bash flg
      - name: Create Release and Upload Assets
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create lacells ./lacells.db --title "Lacells database" --notes "this is Lacells.db file"
